:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 346px;
  margin: 0 auto;
}

.form-row {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;

  ::ng-deep {
    mat-form-field {
      width: 100%;
    }
  }
}

.center-button {
  justify-content: center;
}
