<h1>Welcome to the app</h1>

<form [formGroup]="form">
  <div class="form-row">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Patrik" formControlName="name">
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput placeholder="32" formControlName="age">
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="test@example.com" formControlName="email">
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Password"
        [type]="passwordType"
        formControlName="password"
        (input)="checkPasswordsMatch()"
      >
      <button (click)="togglePasswordInputType()" matSuffix mat-icon-button type="button" tabindex="-1">
        <mat-icon [color]="this.passwordType === 'text' ? 'warn' : 'primary'">visibility</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        placeholder="Confirm password"
        [type]="passwordType"
        formControlName="confirmPassword"
        (input)="checkPasswordsMatch()"
      >
      <button (click)="togglePasswordInputType()" matSuffix mat-icon-button type="button" tabindex="-1">
        <mat-icon [color]="this.passwordType === 'text' ? 'warn' : 'primary'">visibility</mat-icon>
      </button>
    </mat-form-field>
    <mat-error *ngIf="!passwordMatch">Passwords don't match</mat-error>
  </div>

  <div class="form-row" *ngIf="error">
    <mat-error>{{error}}</mat-error>
  </div>

  <div class="form-row center-button">
    <button
      mat-raised-button
      color="primary"
      (click)="register()"
      [disabled]="!form.valid"
      type="submit"
    >
      Register
    </button>
  </div>
</form>

<p>Already have an account? <a routerLink="/">Go to login</a></p>
